body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2c3e50;
    margin: 0;
    font-family: sans-serif;
}

.smartphone {
    width: 300px;
    height: 600px;
    background-color: #ecf0f1;
    border-radius: 40px;
    border: 8px solid #333;
    position: relative;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}   

.screen {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 32px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.status-bar {
    width:90%;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 50px;
}

.home-buttom {
    width: 50px;
    height: 50px;
    background-color: #ddd;
    border-radius: 50%;
    position: absolute; 
    bottom: 10px;
    cursor: pointer;
}